[rpc]
url="https://api.mainnet-beta.solana.com"

[bot_misc]
keypair_path="keypair.txt"
swap_threads={{ swap_threads }}
bind_ips=[
  {% for ip in bind_ips %}
    "{{ ip }}"{% if not loop.last %},{% endif %}
  {% endfor %}
]
jito_bind_ips=[
  {% for ip in jito_bind_ips %}
    "{{ ip }}"{% if not loop.last %},{% endif %}
  {% endfor %}
]

[jupiter]
url="https://public.jupiterapi.com"
tips=[
    "96gYZGLnJYVFmbjzopPSU6QiEV5fGqZNyN9nmNhvrZU5",
    "HFqU5x63VTqvQss8hp11i4wVV8bD44PvwucfZ2bU7gRe",
    "Cw8CFyM9FkoMi7K7Crf6HNQqf4uEMzpKw6QNghXLvLkY",
    "ADaUMid9yfUytqMBgopwjb2DTLSokTSzL1zt6iGPaS49",
    "DfXygSm4jCyNCybVYYK6DwvWqjKee8pbDmJGcLWNDXjh",
    "ADuUkR4vqLUMWXxW9gh6D6L8pMSawimctcNZ5pGwDcEt",
    "DttWaMuVvTiduZRnguLF7jNxTgiMBZ1hyAumKUiL2KRL",
    "3AVi9Tg9Uo68tJfuvoKvqKNWKkC5wPdSSdeBnizKZ6jT"
]
delay=0.35 # secs

[[jito]]
enabled=true
url="https://ny.mainnet.block-engine.jito.wtf"

[dynamic_mints]
url="https://tokens.jup.ag/tokens"
tags=[
    "birdeye-trending",
    "verified"
]
update_seconds=3600 # every hrs

[swap]
mint="EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v" # USDC
decimal=6
min_spend={{ min_spend }}
max_spend={{ max_spend }}
min_gain={{ min_gain }}
jito_static_tip_lamports={{ jito_static_tip_lamports }} # ~0.001 USDC
fetch_blockhash=10 # Secs

[close_account]
enabled=true
sol_min=0.04